
body{
    background: linear-gradient(rgb(223, 29, 29),rgb(233, 233, 88),olive);
}

header{
text-align: center;
background:linear-gradient(grey,rgb(54, 1, 104));
}
nav{
background: linear-gradient(skyblue,purple);
border-radius: 40px;
}
a{
padding: 20px;
list-style: none;
color: rgb(255, 255, 255);
font-size: x-large;

}
details{
margin: 5px;
}
aside{
width: 32%;
height: auto;
background:linear-gradient(grey,black);
color:aqua;
float: right;
margin-top: 5rem;
}
article{
background:linear-gradient(green,palegreen);
width: 65%;
padding: 10px;
}
figcaption{
background:linear-gradient(cyan,navy);
width: 65%;
margin: 10px;
padding:10px;
}
footer{
margin: 5px 0px;
background: linear-gradient(cyan,navy);
color:white
}

